*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f5f3f1;
}

/* Start Intro Page */
.header_introduction{
    position: absolute;
    left: 25px;
    right: 25px;
    top: 52px;
    font-family: Work Sans;
    font-size: 24px;
    text-align: center;
    color: #1C0F13;
}

.image_introduction{
    position: absolute;
    width: 207px;
    height: 172.01px;
    left: calc(50% - 207px/2 - 0.5px);
    top: 223px;
}

.shadow_introduction{
    position: absolute;
    width: 99px;
    height: 8.01px;
    left: 163px;
    top: 398.01px;
    transform: rotate(-180deg);
}

.paragraph_section_introduction{
    position: absolute;
    width: 315px;
    left: calc(50% - 315px/2 - 0.5px);
    top: 447px;
}

.paragraph1_section_introduction{
    font-family: Work Sans;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #1C0F13;
    margin: 10px 0px;

}

.paragraph2_section_introduction{
    position: absolute;
    left: 35px;
    top: 87px;
    font-family: Nunito;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(28, 15, 19, 0.9);
}
 .symbol_introduction{
    font-weight: 600;
    font-size: 8px;
    line-height: 9px;
    text-align: center;
    height: 19px;
 }

.button_introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 80px;
    left: 30px;
    right: 30px;
    bottom: 87px;
}

#button_introduction{
    background: #1C0F13;
    border-radius: 8px;
    width: 95%;
    height: 49px;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

/* End Intro Page*/