* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f3f1;
}

/* Start Intro Page */
.header_introduction {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 52px;
  font-family: Work Sans;
  font-size: 24px;
  text-align: center;
  color: #1c0f13;
}

.image_introduction {
  position: absolute;
  width: 207px;
  height: 172.01px;
  left: calc(50% - 207px / 2 - 0.5px);
  top: 223px;
}

.shadow_introduction {
  position: absolute;
  width: 99px;
  height: 8.01px;
  left: 163px;
  top: 398.01px;
  transform: rotate(-180deg);
}

.paragraph_section_introduction {
  position: absolute;
  width: 315px;
  left: calc(50% - 315px / 2 - 0.5px);
  top: 447px;
}

.paragraph1_section_introduction {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #1c0f13;
  margin: 10px 0px;
}

.paragraph2_section_introduction {
  position: absolute;
  left: 35px;
  top: 87px;
  font-family: Nunito;
  font-size: 17px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(28, 15, 19, 0.9);
}
.symbol_introduction {
  font-weight: 600;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  height: 19px;
}

.button_introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 80px;
  left: 30px;
  right: 30px;
  bottom: 87px;
}

#button_introduction {
  background: #1c0f13;
  border-radius: 8px;
  width: 95%;
  height: 49px;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
}

/* End Intro Page*/

/* Start page cooking time */

/* start section cook_time_title */
.title {
  background: linear-gradient(
    180.93deg,
    #f5f3f1 74.57%,
    rgba(245, 243, 241, 0) 96.04%
  );
  padding-top: 30px;
}
.title h1 {
  font-style: normal;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #1c0f13;
}
/* End section cook_time_title */

/* start section step */
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.div_step {
  width: 325px;
  height: 244px;
  background: #ffffff;
  border-radius: 8px;
  padding: 40px 28px;
}
/* start div div_step */

.side_span {
  font-style: normal;
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #1c0f13;
}

.right_side {
  margin-left: 90px;
}
.right_side i {
  font-size: 10px;
}

/* start div text_step */
.text_step h2 {
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text_step p {
  font-style: normal;
  font-family: Roboto;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  color: #1c0f13;
}
.bold_text {
  font-weight: bold;
  font-size: 13px;
}
.paragraph2 {
  margin-top: 15px;
}

/* End div text_step */

/* start div img_timer */
.img_timer img {
  width: 230px;
  height: 230px;
  margin-top: 50px;
}

/* End div img_timer */
/* End div div_step */
/* End section step */

/* End page cooking time */

.header_introduction {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 52px;
  font-family: Work Sans;
  font-size: 24px;
  text-align: center;
  color: #1c0f13;
}

.image_introduction {
  position: absolute;
  width: 207px;
  height: 172.01px;
  left: calc(50% - 207px / 2 - 0.5px);
  top: 223px;
}

.shadow_introduction {
  position: absolute;
  width: 99px;
  height: 8.01px;
  left: 163px;
  top: 398.01px;
  transform: rotate(-180deg);
}

.paragraph_section_introduction {
  position: absolute;
  width: 315px;
  left: calc(50% - 315px / 2 - 0.5px);
  top: 447px;
}

.paragraph1_section_introduction {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #1c0f13;
  margin: 10px 0px;
}

.paragraph2_section_introduction {
  position: absolute;
  left: 35px;
  top: 87px;
  font-family: Nunito;
  font-size: 17px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(28, 15, 19, 0.9);
}
.symbol_introduction {
  font-weight: 600;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  height: 19px;
}

.button_introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 80px;
  left: 30px;
  right: 30px;
  bottom: 87px;
}

#button_introduction {
  background: #1c0f13;
  border-radius: 8px;
  width: 95%;
  height: 49px;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
}

/* End Intro Page*/

/* Start home Page section 1*/

/* stert section header_home_page */
.header_home_page {
  padding: 50px 55px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* stert div title_header_home */
.title_header_home h1 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #1c0f13;
  display: inline-block;
}
.title_header_home i {
  width: 20px;
  height: 20px;
  margin-left: 130px;
}

/* End section header_home_page */

/* Omar's section */
#bottom_all {
  width: 325px;
  height: 589px;
  margin: auto;
  padding-left: 43px;
}

#bottom_all button {
  width: 242px;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  border: black 1px solid;
  border-radius: 7px;
  background-color: inherit;
  color: black;
  cursor: pointer;
  text-align: center;
}

#bottom_all button:hover {
  color: white;
  background-color: black;
}

#bottom_all img {
  border-radius: 4px;
  margin-left: -9px;
}
#bottom_all h3 {
  font-size: medium;
  margin-top: 10px;
  background-color: white;
}
.icnon_recipe {
  background-color: white;
}
.icnon_recipe_2 {
  background-color: white;
}
.header {
  height: 50px;
  width: 325px;
  border-radius: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #1c0f13;
}
.header_2 {
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 38px;
  color: #1c0f13;
}

.bottom_section_2 {
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  padding: 30px;
  height: 433px;
  width: 243px;
  top: 91px;
}
.image {
  height: 125px;
  width: 200px;
  border-radius: 5px;
}
.text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
}

/* stert section cooking_recipe */
/* stert div recipe */
.cooking_recipe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cooking_recipe div {
  margin-top: 20px;
}
.recipe {
  width: 243px;
  height: 365px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  padding: 30px;
}
.recipe1_h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #1c0f13;
  font-family: Work Sans;
}
.recipe2_h2 {
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 38px;
  color: #1c0f13;
  font-family: Work Sans;
}
.text_recipe {
  font-style: normal;
  font-weight: 500;
  font-family: Work Sans;

  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.text_recipe sup {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 6px;
  line-height: 7px;
}
.text_recipe i {
  color: #1c0f13;
  margin-top: 3px;
  font-size: 13px;
}
.icnon_recipe {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 15, 19, 0.45);
}
.icnon_recipe_2 {
  margin-left: 10px;
}
.icnon_recipe i {
  color: #000;
}
.img_recipe {
  border-radius: 5px;
  margin-top: 20px;
  width: 180px;
}
/* End div recipe */

/* nav bar style */
.bottom_bar {
  height: 63px;
  padding: 5px;
  text-align: center;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
}

.bottom_bar li {
  display: inline-block;
  width: 60px;
  height: 42px;
  text-align: center;
  border-radius: 7px;
  padding-top: 8px;
  font-size: 12px;
  text-decoration: none;
}
.bottom_bar li a {
  text-decoration: none;
}

.bottom_bar li:hover {
  background-color: rgb(85, 82, 82);
  color: white;
  cursor: pointer;
}

/* end of nav bar style */

/* stert div recipe */
.cooking_div_1 {
  width: 243px;
  height: 195px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  padding: 30px;
}

/* End div recipe */

/* stert div recipe */
.cooking_div_2 {
  width: 243px;
  height: 126px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  padding: 30px;
}

/* End div recipe */

/* End section cooking_recipe */

/* End home Page section 1*/

/* Settings section style */
.settings_header {
  font-family: "work sans", sans-serif;
  position: fixed;
  height: 50px;
  left: 38px;
  right: 38px;
  text-align: center;
  top: 48px;
  font-size: 25px;
  line-height: 25px;
  z-index: 1;
  background-color: #f5f3f1;
}

.settings_box {
  font-family: "Rubik", sans-serif;
  border-radius: 10px;
  width: 300px;
  height: 319px;
  margin: 50% auto;
  position: relative;
  background-color: white;
  margin-bottom: 300px;
}

.more {
  position: absolute;
  width: 297px;
  height: 325px;
  top: 40px;
  left: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;
  text-align: left;
  color: #adadad;
}

.settings_list {
  list-style: none;
  position: absolute;
  width: 297px;
  height: 325px;
  top: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;
}

.settings_list a {
  text-decoration: none;
  text-align: left;
  padding: 2px;
  font-size: 22px;
  margin: 0 10px;
  color: black;
}

.settings_list i {
  float: right;
  padding: 2px;
  font-size: 22px;
  margin: 0px 10px;
  color: black;
}
/* End of Settings section style */

/* End home Page section 1*/

/* Recipes page style*/

.top_bar {
  position: absolute;
  width: 375px;
  height: 109px;
  left: -7px;
  top: 0px;
}
.arrow {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 11px;
  top: 44px;
}
.my_recipes_top_bar {
  position: absolute;
  height: 26px;
  left: 38px;
  right: 38px;
  top: 48px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #1c0f13;
}

.types_container {
  position: absolute;
  width: 335px;
  height: 1297px;
  left: 23px;
  top: 119px;
  overflow-x: scroll;
}

.content {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px 1px rgb(99, 97, 97);
  border-radius: 10px;
  padding: 10px;
}

.parts_des {
  color: rgba(28, 15, 19, 0.45);
}

.types_container .items {
  display: inline-block;
  margin: 10px;
  width: calc(50% - 23px);
}

.types_container .items img {
  border-radius: 10px;
}

.items1 {
  position: absolute;
  width: 160px;
  height: 235px;
  left: 0px;
  top: 5px;
}

.items2 {
  position: absolute;
  width: 160px;
  height: 255px;
  left: 175px;
  top: 28px;
}

.items3 {
  position: absolute;
  width: 160px;
  height: 235px;
  left: 0px;
  top: 236px;
}

.items4 {
  position: absolute;
  width: 160px;
  height: 235px;
  left: 175px;
  top: 295px;
}

.items5 {
  position: absolute;
  width: 160px;
  height: 277px;
  left: 0px;
  top: 478px;
}

.items6 {
  position: absolute;
  width: 160px;
  height: 215px;
  left: 175px;
  top: 543px;
}

.items7 {
  position: absolute;
  width: 160px;
  height: 255px;
  left: 0px;
  top: 720px;
}

.items8 {
  position: absolute;
  width: 160px;
  height: 235px;
  left: 175px;
  top: 756px;
}

.items9 {
  position: absolute;
  width: 160px;
  height: 235px;
  left: 0px;
  top: 971px;
}

.items10 {
  position: absolute;
  width: 160px;
  height: 215px;
  left: 175px;
  top: 984px;
}

/* End of recipes page*/
